@import "color";

.video{
  padding: 5px;
  height: 100%;
}
.videoImg{
  display: inline-block;
  height: auto;
  max-width: 100%;
}
div.videoTitle{
  padding-top:3px;
}
a.videoTitle{
  color: $dark;
  &:hover{
    color: $green;
  }
}
div.videoTitle{
  font-size: 12px;
  color: $gray;
}
